	
	
	<!-- - - - - - - - - - - - - Navigation - - - - - - - - - - - - - - -->	

	<nav id="navigation" class="navigation clearfix">

		<ul class="clearfix">
	     	{% if page.url == '/' %}
			<li class="current-menu-item">
                 <a href="{{site.baseurl}}/">Home
                    {% else %}
			<li>		
                 <a href="{{site.baseurl}}/">Home
                    {% endif %}
                 </a>    
            </li>
		
		    <li>
			<a href="/about">About</a>
				<ul>
					<li><a href="/services">Services</a></li>
					<li><a href="#">Third Level</a>
						<ul>
						   <li><a href="#">In the Third Level</a></li>
						   <li><a href="#">In the Third Level</a></li>
						   <li><a href="#">In the Third Level</a></li>
						</ul>
					</li>
				</ul>				
		    </li>			   
		
		
		
		{% for my_page in site.pages %}
            {% if my_page.type == 'page' and  my_page.categories != "About" %}
					{% if my_page.url == page.url %}
						<li class="current-menu-item">	
                    {% else %}
						<li>
					{% endif %}
							<a href="{{ my_page.url | prepend: site.baseurl }}">
							  {{ my_page.categories }}
							</a>
						</li> 		
		    {% endif %} 	
         {% endfor %}
		</ul>
		
		<div class="widget_social clearfix">

			<ul class="social-icons clearfix">
				<li class="facebook"><a href="#">Facebook<span></span></a></li>
				<li class="wechat"><a href="#">WeChat<span></span></a></li>
				<li class="rss"><a href="#">Rss <span></span></a></li>
			</ul><!--/ .social-icons-->

		</div><!--/ .widget_social-->

	</nav><!--/ #navigation-->

	<!-- - - - - - - - - - - - end Navigation - - - - - - - - - - - - - -->	