
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if IE 9]>					<html class="ie9 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->
<head>
	<link href='http://fonts.googleapis.com/css?family=Oswald|Open+Sans:600|Ubuntu+Condensed|Droid+Serif|Ubuntu+Mono' rel='stylesheet' type='text/css' />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut ico" href="/favicon.ico?" type="image/x-icon">
	<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
	
	
	<!-- 1140px Grid styles for IE -->
	<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen" />
	<![endif]-->

	<link rel="stylesheet" href="/css/1140.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/css/style.css" media="screen" />
	<link rel="stylesheet" href="/sliders/flexslider/flexslider.css" />
	
	<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
	<!-- HTML5 Shiv + detect touch events -->
	<script type="text/javascript" src="/js/modernizr.custom.js"></script>
   	<!--dynamicLoadCss-->
	<script type="text/javascript" src="/js/dynamicloadcss.js"></script>
	<!--dynamicloadjs-->
	<script type="text/javascript" src="/js/dynamicloadjs.js"></script>

	<!--dynamicLoadCss-->
	<script type="text/javascript" src="/js/dynamicloadcss.js"></script>
	<!--dynamicloadjs-->
	<script type="text/javascript" src="/js/dynamicloadjs.js"></script>
	  
	<!--log--> 
	 <script type="text/javascript" src="/js/log.js"></script>
	 
	<!-- fontawesome -->
	<link rel="stylesheet" href="/css/font-awesome.css" />
	<link rel="stylesheet" href="/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/css/font-awesome-ie7.css" />
	<link rel="stylesheet" href="/css/font-awesome-ie7.min.css" />
	
    <!-- product page -->
	<link rel="stylesheet" href="/css/product.css" />
	
	<!-- subscribe -->
	<link href="/css/subscribe.css" rel='stylesheet' type='text/css' />

    <!-- top -->
	<link href="/css/top.css" rel='stylesheet' type='text/css' />
	<script type="text/javascript" src="/js/scrolltop.js"></script>
	
	<!--sweetalert-->
	<link rel="stylesheet" href="/dist/sweetalert2.min.css">
	<script type="text/javascript" src="/dist/sweetalert2.min.js"></script>
	<!-- IE support -->
    <script src="/lib/es6-promise.min.js"></script>

    <!-- Promise.finally support -->
    <script src="/lib/finally.js"></script>

	<!--[if IE]>
      <script src="http://libs.baidu.com/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
</head>
<body class="h-style-1 text-1">
<!-- - - - - - - - - - - - - - Top Panel - - - - - - - - - - - - - - - - -->	

<div class="top-line clearfix">
	
	<div class="wrap">
		
		<span>For Immediate Onsite or Remote Support <span class="tcolor">Call: + (0086) 021-33514267 | 021-33515345</span></span>
		
	</div><!--/ .wrap-->
	
</div><!--/ .top-line-->

<!-- - - - - - - - - - - - - end Top Panel - - - - - - - - - - - - - - - -->	

<div class="wrap">
	
	
	<!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->	
	
	<header id="header" class="clearfix">
		
		<a href="index.html" id="logo">
			<h1>M.X<span class="tcolor">Tech</span><span style="float:right;font-size:25px;vertical-align: super;">&reg;</span></h1>
			<span  style="font-size: 18px;font-family:'Helvetica Neue','Helvetica,Arial','Sans-serif';">
			<span style="font-family:PingFangSC-Regular,Microsoft YaHei,Hiragino Sans GB,Helvetica;color:black;">美襄科技 |</span> www.meixiangtech.site</span>
		</a>
		<div class="widget_search clearfix">

			<form action="#" id="searchform" method="post" />

				<p>
					<input type="text" id="s" placeholder="Search" />
					<button type="submit" id="searchsubmit" class="bcolor"></button>
				</p>

			</form><!--/ #searchform-->

		</div><!--/ .widget_search-->
		
	</header><!--/ #header-->
	
	<!-- - - - - - - - - - - - - - end Header - - - - - - - - - - - - - - - - -->	
	



