	
	
	<!-- - - - - - - - - - - - - Navigation - - - - - - - - - - - - - - -->	

	<nav id="navigation" class="navigation clearfix">

		<ul class="clearfix">
	     	{% if page.url == '/' %}
			<li class="current-menu-item">
                 <a href="{{site.baseurl}}/">Home
                    {% else %}
			<li>		
                 <a href="{{site.baseurl}}/">Home
                    {% endif %}
                 </a>    
            </li>
		
		    <li>
			<a href="/produts&service">Products&nbsp; &amp; &nbsp;Service</a>
				<ul>
					<li><a href="/services">定制化企业ERP系统</a></li>
					<li><a href="/services">互联网电商平台</a></li>
					<li><a href="/services">自动化运营平台</a></li>
					<li><a href="/services">定制化软件研发外包</a></li>
				</ul>				
		    </li>	
			<li>
			<a href="/solutions">Solutions</a>
				<ul>
					<li><a href="#">场景解决方案</a>
						<ul>
						   <li><a href="/solutions/solutions-zianquanfenzhi">自安全分支机构解决方案</a></li>
						   <li><a href="/solutions/solutions-zianquanyuanqu">自安全园区网解决方案</a></li>
						   <li><a href="/solutions/solutions-zianquanwulian">自安全物联感知网解决方案</a></li>
						</ul>
					</li>
				</ul>				
		    </li>
			<li>
			<a href="/Contact">Contact</a>
		    </li>
			<li>
			<a href="/News">News</a>
		    </li>
		</ul>
		
		<div class="widget_social clearfix">

			<ul class="social-icons clearfix">
				<li><i class="icon-comments"></i></li>
				<li class="rss"><a href="#">Rss <span></span></a></li>
			</ul><!--/ .social-icons-->

		</div><!--/ .widget_social-->

	</nav><!--/ #navigation-->

	<!-- - - - - - - - - - - - end Navigation - - - - - - - - - - - - - -->	